@{
  Layout = "_Layout";
}

@model BestRestaurants.Models.Restaurant

<div class="title-card">
  <h3>Add New Restaurant</h3>
</div>
<div class="container">
  @using (Html.BeginForm())
  {
    @Html.LabelFor(model => model.Name)
    @Html.TextBoxFor(model => model.Name)
  
    @Html.LabelFor(model => model.Description)
    @Html.TextBoxFor(model => model.Description)
  
    @Html.LabelFor(model => model.Cuisine)
    @Html.DropDownList("CuisineId")
  
    <input type="submit" value="Submit" class="btn btn-mcdon" />
  }
</div>
<div class="big-button">
  <p>@Html.ActionLink("Show Restaurants", "Index")</p>
</div>