@{
  Layout = "_Layout";
}

@model BestRestaurants.Models.Restaurant

<h3>Add New Restaurant</h3>
@using (Html.BeginForm())
{
  @Html.LabelFor(model => model.Name)
  @Html.TextBoxFor(model => model.Name)

  @Html.LabelFor(model => model.Description)
  @Html.TextBoxFor(model => model.Description)

  @Html.LabelFor(model => model.Cuisine)
  @Html.DropDownList("CuisineId")

  <input type="submit" value="Submit" class="btn btn-default" />
}
<p>@Html.ActionLink("Show Restaurants", "Index")</p>